{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Let's z0r play production<br />
    Санкт-Петербург.<br />
    <abbr title="телефон">Телефон для связи:</abbr>
    +79811111111
</address>

<address>
    <strong>Ваши предложения можете присылать сюда:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>По вопросам сотрудничества:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
